section.chat
    .chat-wrapper
        include ../../components/sidebar/sidebar.component.pug
        .chat-wrapper-content
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата
            a(href="#").page__text-18-Regular Сообщение участника чата



