header.header
    .wrapper
        .header-wrapper
            .header-wrapper__left
                a(href="#").page__text-18-Regular Logo
            .header-wrapper__mid
                nav.nav
                    a(href="#").page__text-18-Regular Элементы
                    a(href="#").page__text-18-Regular Навигации
                    a(href="#").page__text-18-Regular Элементы
                    a(href="#").page__text-18-Regular Навигации
            .header-wrapper__right
                a(href="#").page__text-18-Regular Правая сторона с контентом    
            
                
            