section.sidebar
    .wrapper
        .sidebar-wrapper
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата
            a(href="#").page__text-18-Regular Участник чата